{% extends "servisiux/base.html" %}
{% load i18n %}
{% block content %}
<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      {% trans "Old Cars" %}
        <span class="text-primary">{% trans "Service" %}</span>
    </h1>
    <div class="subheading mb-5">
      Caring service for nice cars
    </div>
    <div class="subheading mb-5">
      3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
      <a href="mailto:name@email.com">name@email.com</a>
    </div>
    <p class="lead mb-5">We know You love your car. We do too. Our passion are servicing old cars and make them beautifull.</p>
    <div class="social-icons">
        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>
</section>
{% endblock %}