{% extends "servisiux/base.html" %}

{% block content %}
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Inside</h2>
    <div class="subheading mb-3">Our stats</div>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Services provided: {{ qty_serv }}
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Orders fulfilled: {{ qty_orders }}
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Serviced cars: {{ qty_cars }}
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Car models serviced: {{ qty_models }}
        </li>
    </ul>
  </div>
</section>
{% endblock %}